#corporate-register {
  margin: 0 auto;
  width: 70%;
}
sup {
  color: red;
  font-size: 11px;
}

.accountLedger {
  nb-icon {
    font-size: 1.5rem;
  }
}
input.ng-touched.ng-invalid {
  border: 2px solid red;
}

nb-select.ng-touched.ng-invalid {
  border: 1px solid red;
}

::ng-deep nb-accordion-item-header {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #edf1f7 !important;
}

nb-card {
  nb-card-header {
    .action-icon {
      color: #d2222a;
      font-size: 26px;
      cursor: pointer;
    }
  }
  nb-card-body {
    .addRules {
      text-decoration: none;
      background-color: #d2222a;
      color: #fff;
      padding: 7px;
      margin-top: 5px;
      font-size: 13px;
      height: 35px;
      border-radius: 10px;
    }
    .delGstButton {
      background-color: #d2222a !important;
      color: #fff;
      border: 0.0625rem solid #d2222a !important;
    }
    .registerButton {
      background-color: #d2222a !important;
      color: #fff;
      border: 0.0625rem solid #d2222a !important;
    }
  }
}

.datefield-height {
  height: 33px;
  width: 100%;
  max-width: 100%;
}

.font-size-10 {
  font-size: 10px;
  font-weight: 600;
}
