<div class="container" ngxDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <label for="fileDropRef"><strong>Click to select or Drag and drop CSV/Excel file</strong></label>
</div>
<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">

        <div class="info">
            <h4 class="name">
                {{ file?.name }}
            </h4>
            <p class="size">
                {{ formatBytes(file?.size) }}
            </p>
            <app-progress [progress]="file?.progress"></app-progress>
        </div>
        <nb-icon icon="trash-outline" class="delete" (click)="deleteFile(i)"></nb-icon>


    </div>
</div>