#agency-staff-details {
  width: 70%;
  margin: 0 auto;

  nb-card {
    nb-card-header {
      .action-icon {
        color: #d2222a;
        font-size: 26px;
      }
      .saveButton {
        background-color: #d2222a !important;
        color: #fff;
        font-size: 14px;
        border: 0.0625rem solid #d2222a !important;
      }
    }
  }
}
