<section id="channels" class="row">
  <nb-card class="w-100">
    <nb-card-body>
      <div class="row align-items-center">
        <div class="col-1">
          <span class="backArrow" (click)="back()">
            <nb-icon class="action-icon" icon="arrow-back-outline" ></nb-icon>
          </span>
        </div>
        <div class="col-8">
          <div class="channel_page">
            <div class="channel_details">
              <form [formGroup]="searchData">
                <div class="channel_Form">
                  <div class="form-group w-75">
                    <label for="addPassengerEndPoint" class="label">Branch</label>
                    <nb-select fullWidth placeholder="*" class="branchDetails" formControlName="branch" (selectedChange)="onBranchSelected($event)">
                      <nb-option value="{{branch.id}}" *ngFor="let branch of this.branchDetails">{{branch.name}}</nb-option>
                    </nb-select>
                  </div>
                  <div class="form-group w-75">
                    <label for="addPassengerEndPoint" class="label">Corporate</label>
                    <input type="text" class="corporateDetails" nbInput [disabled]="!this.branchId" fullWidth fieldSize="small" placeholder="*" formControlName="corporate" [nbAutocomplete]="autoControl"
                    #corporate>
                    <nb-autocomplete #autoControl>
                      <nb-option *ngFor="let option of corporateDetails" value="{{option.name}}">{{option.name}}</nb-option>
                    </nb-autocomplete>
                  </div>
                    <button class="channelData" nbButton matRipple status="primary" size="large"
                    [nbSpinner]="loadingLargeGroup" nbSpinnerStatus="primary" nbSpinnerSize="large" nbButton matRipple [status]="'warning'"
                    [disabled]="searchData.invalid || searchData.pristine" hero (click)="getChannelData()">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-3">
          <button class="p-3 float-right addEmployeeButton" (click)="channelCreate()" nbButton matRipple>
            <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon> Add Channels
          </button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

    <nb-card class="w-100">
      <nb-card-body>
        <ngx-channel-table [loadingData]="loadingData" [channelsData]="channelsData"></ngx-channel-table>
      </nb-card-body>
    </nb-card>
</section>
