.branch-list {
    margin: 0 auto;
    width: 70%;
}

#branch-listing {
    margin: 0 auto;
    width: 70%;
    margin-top: -40px;
}

nb-card {
    nb-card-body {
        .addBranchbutton {
            background-color: #d2222a !important;
            color: #fff;
            border: 0.0625rem solid #d2222a !important;
        }
    }
}
