#corporate-listing {
  margin: 0 auto;
  width: 70%;
  margin-top: -40px;

  nb-card {
    nb-card-body {
      span {
        color: #d2222a;
        cursor: pointer;
        nb-icon {
          font-size: 25px;
        }
      }
      .profileButton {
        background-color: #d2222a !important;
        color: #fff;
        border: 0.0625rem solid #d2222a !important;
      }
    }
  }
}
