<nb-card>
  <nb-card-body class="top-card-body">
    <div class="row">
      <div class="col-4">
        <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/interactive.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Channels</strong></p>
                  View and Manage all channels related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="channelNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <!-- -----------------------------------CARD_2------------------------------ -->
      <div class="col-4">
        <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/manufacturing.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Providers</strong></p>
                View and Manage all providers related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="providerNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <!-- -----------------------------------CARD_3------------------------------ -->
      <div class="col-4">
        <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/dashboard.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Corporate Codes</strong></p>
                View and Manage corporate code related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="corporateCodeNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <!-- -----------------------------------CARD_4------------------------------ -->

    </div>
    <div class="row">
      <div class="col-4">
        <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/business-and-finance.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Revenue</strong></p>
                View and Manage revenue related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="revenueNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-4">
        <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/rules.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Pass Through Config</strong></p>
                  View and Manage all pass through Config related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="passthroughtNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card>
      </div>
      <!-- -----------------------------------CARD_2------------------------------ -->
      <div class="col-4">
        <!-- <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/manufacturing.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Providers</strong></p>
                View and Manage all providers related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="providerNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card> -->
      </div>
      <!-- -----------------------------------CARD_3------------------------------ -->
      <!-- <div class="col-4"> -->
        <!-- <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/dashboard.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Corporate Codes</strong></p>
                View and Manage corporate code related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="corporateCodeNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card> -->
      <!-- </div> -->
      <!-- -----------------------------------CARD_4------------------------------ -->
      <!-- <div class="col-3"> -->
        <!-- <nb-card size="tiny">
          <nb-card-body>
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/images/hma-admin/business-and-finance.png" class="img-fluid">
              </div>
              <div class="col-9">
                <p><strong>Manage Revenue</strong></p>
                View and Manage revenue related details
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer class="footer-text">
            <span (click)="revenueNavigation()">MANAGE</span>
          </nb-card-footer>
        </nb-card> -->
      <!-- </div> -->
    </div>
  </nb-card-body>
</nb-card>
