.details-popup-container {
  min-height: 6.25rem;
  min-width: 15.0625rem;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.1875rem 0.375rem #00000029;
  border: 0.0625rem solid #bebebe;
  opacity: 1;
  border-radius: 0 0 0.3125rem 0.3125rem;
  padding: 0.625rem;

  > .details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem dashed #dfdfdf;

    span {
      font-family: 'Lato Bold';
      font-size: 0.75rem;
      padding: 0.375rem 0;
    }

    i {
      font-size: 0.625rem;
      color: #919191;
    }
  }

  ul {
    padding: 0.3125rem;
    > li {
      font-family: 'Lato Regular';
      font-size: 0.8125rem;
      padding-top: 0.5625rem;
      display: flex;
      align-items: flex-start;

      > i {
        color: #919191;
        padding-right: 0.625rem;
        padding-top: 0.25rem;
      }
    }

    .bolder {
      font-size: 0.75rem;
      font-family: 'Lato Bold';
    }
  }
}
