#booking-listing {
  margin: 0 auto;
  width: 70%;

  nb-card {
    nb-card-body {
      .registerButton {
        background-color: #d2222a !important;
        color: #fff;
        border: 0.0625rem solid #d2222a !important;
      }
    }
  }

  nb-accordion {
    box-shadow: none !important;
  }

  .datefield-height {
    height: 33px;
    width: 100%;
  }
}

